* {
    margin: 0px;
    padding: 0;
    /* font-size: 20px; */
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
    text-decoration: none;
    color: #FFF;
    scroll-behavior: smooth;
}

h3 {
    font-size: 20px;
}

body{
  background-color: #b4b1b1;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

@font-face {
    font-family: Forum;
    src: url(assets/fonts/forum-regular-webfont.woff2) format('woff2'),
    url(assets/fonts/forum-regular-webfont.woff) format('woff'),
    url(assets/fonts/Forum-Regular.ttf) format('trytype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url(assets/fonts/inter-regular-webfont.woff2) format('woff2'),
    url(assets/fonts/inter-regular-webfont.woff) format('woff'),
    url(assets/fonts/inter-regular-webfont.ttf) format('trytype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-Bold.woff2) format('woff2'),
    url(assets/fonts/Inter-Bold.woff) format('woff'),
    url(assets/fonts/Inter-Bold.ttf) format('trytype');
    font-weight: 700;
    font-style: normal;
} 

button:hover {
    background-color: #BB945F;
    border-radius: 2px;
    border: 1px solid #BB945F;
    transform: scale(140%);
    transition: 1s;
}

.own {
    border: 1px solid #BB945F;
    color: #BB945F;
}

.own:hover {
    color: #0C0C0E;
}

button {
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 2s;
}

header {
    width: 1440px;
    height: 90px;
    background: #0C0C0E;
    display: flex;
    justify-content: space-between;

}

h1 {
    color: #FFF;
    font: normal 400 30px/50px Forum, serif;
    letter-spacing: 0.6px;
    margin: 20px;
}


.header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin: 20px 0px;
}

.nav-header ul {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.nav-header a {
    color: #FFF;
    text-decoration: none;
    font: normal 400 20px/50px Inter;
    display: inline-block;
    position: relative;
    transition: 1s;
}

.nav-header a:hover {
    transform: scale(1.2);
}

.nav-header a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.nav-header a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-header li {
    margin: auto 15px;
}

.header-icon {
    margin: auto 20px auto 25px;
    width: 28px;
    height: 28px;
}

.nav-header li:nth-of-type(1) {
    margin-left: 0px;
}

/* top ----------------------    top */

.welcome-section {
    background-image: url('assets/img/Welcome.jpg');
    width: 1440px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 220px 840px 160px 0px;
}

.welcome-section div {
    display: flex;
    width: 600px;
    height: 220px;
    padding: 35px 40px;
    background-color: #0C0C0E;
}

.welcome-section h2 {
    width: 520px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font: normal 400 40px/50px Forum, sans-serif;
}


/*  Welcome -------------   welcome --------- */


.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about h2 {
    color: #0C0C0E;
    letter-spacing: 2px;
    text-transform: capitalize;
    font: normal 400 40px/1em Forum, sans-serif;
    margin: 20px auto 0px;
    box-sizing: border-box;
}

.line {
    display: block;
    content: "";
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
    margin: 15px auto 20px;
}

.pre-img {
    color: #000;
    text-align: center;
    font: normal 400 20px/2em Inter, sans-serif;
    margin: 20px 0;
    height: 40px;
}

.img-hidden {
    display: none;
}

.row-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 1440px;
}

.row-list img {
    margin: 0px 10px;
}

.about-btn {
    display: flex;
    justify-content: space-between;
    /* width: 68px;
    height: 16px; */
    margin: 30px auto 35px;
}

.btn-box {
    width: 26px;
    height: 26px;
    padding: 5px;
    cursor: pointer;
}

.btn-box div {
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border-radius: 50%;
}

.btn-box:first-child div {
    background-color: #BB945F;
}


/*   about ----------      about*/

.favorites {
    display: flex;
    flex-direction: column;
}

.favorites h2 {
    color: #0C0C0E;
    letter-spacing: 2px;
    text-transform: capitalize;
    font: normal 400 40px/1em Forum;
    margin: 20px auto 0px;
}

.favorites > p {
    color: #000;
    text-align: center;
    font: normal 700 20px/normal Inter;
    margin: 20px;
    align-self: flex-start;
}

.favorites input {
    margin: auto 15px auto 20px;
}

.favorites label {
    margin-right: 70px;
    color: #000;
    font: normal 400 20px Inter;
}

.staff-pick {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.staff-pick section {
    width: 550px;
    height: 555px;
    position: relative;
    padding: 15px;
    border: 1px solid #000;
}

.staff-pick section:nth-child(odd) {
    margin-right: 260px;
}

.staff-pick section:nth-child(n+3) {
    margin-top: 40px;
    margin-bottom: 40px;
}

.staff-pick h3 {
    color: #000;
    letter-spacing: 2px;
    text-transform: capitalize;
    font: normal 400 20px/2em Forum;
}

.staff-pick div:first-child {
    height: 40px;
    margin-bottom: 20px;
}

.line-2 {
    width: 60px;
    height: 1px; 
    background-color: #BB945F;
}

.staff-pick p:first-of-type {
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
    font: normal 700 15px/40px Inter;
    margin-bottom: 20px;
}

.staff-pick span {
    color: #000;
    letter-spacing: 2px;
    text-transform: capitalize;
    font: normal 700 15px/40px Inter;
}

.staff-pick p:nth-of-type(2) {
    width: 355px;
    color: #000;
    letter-spacing: 2px;
    text-transform: capitalize;
    font: normal 400 15px/40px Inter;
}

.staff-pick__img img{
    position: absolute;
    top: 255px;
    left: 390px;
}

.favorites button {
    width: 75px;
    height: 30px;
    position: absolute;
    bottom: 17px;
    left: 21px;
}  


/*   favorites -----------------  favorites */

.table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 10px;
    width: 1440px;
  }

  .table h2 {
    color: #0C0C0E;
    letter-spacing: 2px;
    text-transform: capitalize;
    font: normal 400 40px/1em Forum;
    margin: 20px auto 0px;
}

.table p {
    color: #000;
    letter-spacing: 2px;
    font: normal 400 20px/2em Inter;
    margin: 20px;
    text-align: center;
}

.table1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
  .table-left{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .table-right tbody {
    display: flex;
    flex-direction: column;
  }
  
  tr {
    display: flex;
    justify-content: space-between;
  }
  
  th {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
  }
  
  .table-left td:nth-of-type(1) {
    width: 196px;
  }
  
  .table-left tr:nth-of-type(2) td:nth-of-type(1) {
    width: 199px;
    box-sizing: content-box;
  }
  
  .table-left td:nth-of-type(2) {
    width: 100px;
    border-bottom: 1px solid #BB945F;
    align-self: center;
    margin-left: 60px;
    margin-right: 60px;
  }
  
  .table-left td {
    color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  letter-spacing: 2px;
  text-transform: capitalize;
  }
  
  .table-left tr:not(:first-of-type) {
    margin-top: 37.7px;
  }
  
  /* right table ---- */
  
  
  .table-right{
    display: flex;
    width: 482px;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .table-right td {
    color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  letter-spacing: 2px;
  text-transform: capitalize;
  }
  
  .table-right td:nth-of-type(2) {
    width: 100px;
    border-bottom: 1px solid #BB945F;
    align-self: center;
    margin-left: 60px;
    margin-right: 60px;
  }
  
  .table-right tr:first-of-type {
    align-self: flex-end;
  }
  
  .table-right tr:not(:first-of-type) {
    margin-top: 37.7px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .table td:nth-of-type(3) {
    font-family: Forum;
  }

/*  coffee shop remake ---------------     */

.our-contacts h2, .LibraryCard h2 {
    color: #0C0C0E;
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    font: normal 400 40px/1em Forum;
}

.our-contacts {
    width: 1440px;
    padding: 20px 20px 40px;
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.contacts * {
  color: #000;
}

.contacts div:first-child {
    color: #000;
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    font: normal 400 20px/2em Inter;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 505px;
    height: 380px;
}

.contacts h3 {
    font-weight: 700;
}

.contacts p {
    margin: 0px 0px 20px;
}

.contacts h3:first-of-type {
    margin-bottom: 40px;
}

.contacts h3:last-of-type {
    margin: 20px 0px;
}

.line {
    display: block;
    content: "";
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
    margin: 20px auto 20px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1440px;
    height: 250px;
    padding: 20px 20px 40px;
    background-color: #0C0C0E;
    color: #FFF;
}

footer a {
    color: #FFF;
}

footer div:first-child {
    display: flex;
    justify-content: space-between;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    align-items: flex-start;
}

footer .footer-links {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

footer .social-media {
    width: 102px;
    height: 24px;
    margin-top: 14px;
}

.footer-links div:first-child {
    margin-bottom: 5px;
}

footer .social-media ul{
    display: flex;
    flex-direction: row;
}

.social-media li{
    margin-right: 15px;
    width: 24px;
    height: 24px;
}

.footer-right {
    text-align: right;
}

.footer-right div:first-child {
    margin-bottom: 10px;
}

.long-line {
    display: block;
    content: "";
    width: 1400px;
    border-top: 1px solid #FFF;
    background-color: #FFF;
    margin: 30px auto 45px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 22px;
}

.footer-bottom div {
    color: #FFF;
}

.footer-bottom div a {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 2px;
}

.footer-bottom div:first-child,
.footer-bottom div:nth-child(2) {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 2px;
}

.footer-bottom div:last-child {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 40px;  */
    letter-spacing: 2px;
    align-self: center;
}

footer li:hover,
.footer-bottom div:not(:first-child):hover {
    transform: scale(1.3);
    transition: 1s;
}

.footer-bottom div:last-child:hover {
    transform: scale(1.3) translate(-15px);
    transition: transform 1s;
}

.librarycard {
    width: 1440px;
    height: 614px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.librarycard h2 {
    color: #0C0C0E;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
}

.librarycard .line {
    display: block;
    content: "";
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
    margin: 20px auto 20px;
}

.find-get-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.find-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 453px;
    margin-top: 20px;
}

.find-card  h3 {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.card-form h2 {
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
    letter-spacing: 0.6px;
    text-align: left;
    margin-bottom: 20px;
}

.card-form {
    width: 600px;
    height: 386px;
    border: 3px solid #BB945F;
    background: #FFF;
    padding: 20px 20px 30px;
    margin: 30px 0px 20px;
}

.card-form div:first-child {
    width: 560px;
    height: 272px;
    background: #BB945F;
    padding: 20px;
}

.card-form input {
    width: 520px;
    height: 66px;
    border-radius: 10px;
    background: #FFF;
    border: none;
    padding: 8px 20px;
}

.card-form input:focus-visible {
    outline: none;
    border: 3px solid rgb(63, 62, 62);
}

.card-form div:not(:first-child) {
    margin-bottom: 25px;
}

.card-form input[placeholder] {
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
    letter-spacing: 0.6px;
}

.card-form button {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 20px 0px 0px 160px;
    padding: 10px 40px;
}

.get-card {
    width: 456px;
    height: 253px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
}

.get-card h2 {
    color: #000;
    text-align: center;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.get-card div:first-of-type {
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 0.4px;
    margin: 35px 0px;
    height: 120px;
}

.get-card p {
    color: #000;
}

.get-card p:nth-of-type(2) {
    text-align: left;
}

.get-card-buttons button{
    width: 75px;
    height: 30px;
    /* padding: 10px 0px; */
    margin-left: 20px;
}

